.MuiSvgIcon-root {
    color: #225FFC;
    font-size: 25px;

}
.MuiTypography-root {
    font-weight: 600;
    color: #8A8A8A;
    font-size: 15px;
}
.MuiPickersDay-root {
    font-weight: 600;
}
.MuiPickersDay-dayOutsideMonth {
    color: #D9D9D9;
}
.MuiPickersDay-today {
    background-color: #225FFC;
    color: white;
    border:  none  !important;
}
.Mui-selected {
    background-color: #8A8A8A !important;
    color: white;
    font-weight: 600;

}
.MuiDateCalendar-root div{
    color: #225FFC;
    font-weight:600;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
}